@model AppRestaurants.Data.Models.Restaurant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>
        @Html.DisplayFor(model => model.Nom)
    </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Model.Adresse.ToString()
        </dd>
        <dt class = "col-sm-2">
            Dernière note
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastGrade.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastGrade.Commentaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastGrade.Commentaire)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Home">Retour au top 5</a>
</div>
